.card-ama {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 80px;
    justify-content: center;
    width: 11vw;
    background-color: var(--ama-color-blue-0);
}

.card-ama-list ul {
    padding-left: 0 !important;
    margin-left: 0 !important;
}


.card-title-ama,
.card-subtitle-ama {
    color: black;
    text-align: right;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.card-title-ama {
    font-size: 1.25rem;
    font-weight: bolder;
}

.card-subtitle-ama {
    font-size: 1rem;
}

.card-icon-ama i {
    color: var(--ama-color-brand-primary);
    font-size: 1.875rem;
    padding: 5px;
    border-radius: 8px;
    background-color: var(--ama-color-blue-0);
}

.card-content-ama {
    display: flex;
    flex-direction: column;
}


/*** Dark mode ****/
.card-ama.dark {
    background-color: unset;
    border: 2px solid var(--ama-color-text-blue);
    color: var(--ama-color-text-blue);
}

.card-ama.dark span,
.card-ama.dark i {
    color: var(--ama-color-text-blue);
    background-color: transparent;
}

.card-ama-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding-left: 0 !important;
    margin-left: 0 !important;
}