.card-ama {
    width: 245px;
    height: 114px;
    box-shadow: 4px 4px 7.7px -5px rgba(0, 0, 0, 0.09);
    border: 2px solid var(--ama-color-brand-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: white;
}

.card-ama:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card-icon-ama {
    margin-bottom: 12px;
}


.card-title-ama,
.card-subtitle-ama {
    color: black;
    text-align: right;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.card-title-ama {
    font-size: 40px;
    font-weight: bolder;
}

.card-subtitle-ama {
    font-size: 18px;
}

.card-icon-ama i {
    color: var(--ama-color-brand-primary);
    font-size: 40px;
    padding:15px;
    border-radius: 8px;
    background-color: var( --ama-color-blue-0);
}

.card-content-ama {
    display: flex;
    flex-direction: column;
}


/*** Dark mode ****/
.card-ama.dark {
    background-color: unset;
    border: 2px solid var(--ama-color-text-blue);
    color: var(--ama-color-text-blue);
}

.card-ama.dark span, .card-ama.dark i{
 color: var(--ama-color-text-blue);
 background-color: transparent;
}

