.ama.tabs-container {
  box-sizing: border-box;
}

.ama.tabs-container .nav-tabs {
  list-style: none;
  background-color: var(--ama-color-background-light-darker) !important;
  border-radius: 0px !important;
  line-height: 3em;
  display: flex;
  border-bottom: 1px solid var(--ama-color-grey-100);
}

.ama.tabs-container .nav-tabs.vertical {
  flex-direction: column;
  width: 300px;
  height: fit-content;
  background-color: var(--ama-color-background-white) !important;
  justify-content: space-between;
  margin-right: 20px;
  border-bottom: none;
  line-height: normal;
}

.ama.tabs-container .nav-tabs .nav-link {
  color: var(--ama-color-brand-primary) !important;

  border-radius: 0 !important;
  background: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition: all 0.2s ease;
}

.ama.tabs-container .nav-tabs.vertical .nav-link {
  border-radius: 0px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1.75em;
  font-weight: 700;
  width: 100%;
  justify-content: left;
  display: flex;
  text-align: left;
}

.ama.tabs-container .nav-tabs .nav-link.active {
  font-weight: 700;
  color: var(--ama-color-brand-primary);
  font-family: var(--font-lato);
  background-color: var(--ama-color-background-light-darker);
  border-bottom: 5px solid var(--ama-color-brand-primary);
}

.ama.tabs-container .nav-tabs.vertical .nav-link.active {
  background-color: transparent;
  color: var(--ama-color-text-gray) !important;
  border-right: 5px solid var(--ama-color-brand-primary);
  border-bottom: 0px;
}

.ama.tabs-container .nav-tabs .nav-link:focus {
  outline: 2px solid var(--ama-color-brand-primary);
  outline-offset: 2px;
}

.ama.tabs-container .nav-tabs .nav-link:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ama.tabs-container .tab-content {
  flex: 1;
}

.ama.tabs-container .tab-pane {
  padding: 1rem 0;
}

.ama.tabs-container.vertical-tabs {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.ama.tabs-container.vertical-tabs .tabs_info_container {
  margin-left: 30px;
}

.ama.tabs-container.vertical-tabs .nav-tabs .nav-item:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--ama-color-grey-100);
  padding-right: 15px;
}

.ama.tabs-container .nav-pills .nav-link {
  display: block;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .ama.tabs-container .nav-tabs {
    display: flex;
    flex-direction: column;
  }

  .ama.tabs-container .nav-tabs .nav-link {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    align-items: flex-start !important;
  }

  .ama.tabs-container .nav-tabs .nav-link.active {
    color: var(--ama-color-background-white) !important;
    background-color: var(--ama-color-brand-primary);
    border: 0;
  }
}

button {
  border: none;
  background-color: transparent;
}