@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {

  /* COLORS PALLETE */
  --ama-color-brand-primary: #333399;
  --ama-color-brand-secondary: #333333;
  --ama-color-brand-tertiary: #1ACC60;
  
  --ama-color-text-gray: #333333;
  --ama-color-text-blue: #B6DCF6;
  --ama-color-text-blue-darker: #557b95;
  --ama-color-text-blue-light: #E9F6FF;
  --ama-color-system-warning: #FFC107;
  --ama-color-system-error: #DC3545;
  --ama-color-system-success: #38B458;

  --ama-color-background-white: #FFFFFF;
  --ama-color-background-light-lighter: #EFEFEE;
  --ama-color-background-light-darker: #E4E4E4;
  --ama-color-background-dark-lighter: #2D3241;
  --ama-color-background-dark-darker: #21242C;

  --ama-color-headers-light: #EFEFEE;
  --ama-color-headers-pre-header: #E4E4E4;

  --ama-color-blue-0: #F0F0FA;
  --ama-color-blue-50: #D2D1EF;
  --ama-color-blue-100: #B5B3E5;
  --ama-color-blue-200: #9793D9;
  --ama-color-blue-300: #7974CF;
  --ama-color-blue-400: #5D56C5;
  --ama-color-blue-500: #3A3297;
  --ama-color-blue-600: #2E2879;
  --ama-color-blue-700: #231E5B;
  --ama-color-blue-800: #16143C;
  --ama-color-blue-900: #0B0A1F;

  --ama-color-grey-0: #FFFFFF;
  --ama-color-grey-50: #D6D6D6;
  --ama-color-grey-100: #C2C2C2;
  --ama-color-grey-200: #ADADAD;
  --ama-color-grey-300: #939393;
  --ama-color-grey-400: #858585;
  --ama-color-grey-500: #707070;
  --ama-color-grey-600: #5C5C5C;
  --ama-color-grey-700: #515151;
  --ama-color-grey-800: #1F1F1F;
  --ama-color-grey-900: #0A0A0A;

  --ama-color-green-0: #EEFDF3;
  --ama-color-green-50: #CDF7DC;
  --ama-color-green-100: #ACF2C5;
  --ama-color-green-200: #8DEEAE;
  --ama-color-green-300: #6DEB98;
  --ama-color-green-400: #55E380;
  --ama-color-green-500: #38B458;
  --ama-color-green-600: #2C8F47;
  --ama-color-green-700: #206B35;
  --ama-color-green-800: #144724;
  --ama-color-green-900: #092411;

  --ama-color-yellow-0: #FEFAEB;
  --ama-color-yellow-50: #FFF6D3;
  --ama-color-yellow-100: #FCECAF;
  --ama-color-yellow-200: #FBE189;
  --ama-color-yellow-300: #FAD763;
  --ama-color-yellow-400: #F9CE41;
  --ama-color-yellow-500: #DAAA20;
  --ama-color-yellow-600: #B38B18;
  --ama-color-yellow-700: #8B6C10;
  --ama-color-yellow-800: #634E09;
  --ama-color-yellow-900: #3B2E03;

  --ama-color-red-0: #FBEEEF;
  --ama-color-red-50: #F7DDDF;
  --ama-color-red-100: #F3CCCF;
  --ama-color-red-200: #EBAAB0;
  --ama-color-red-300: #E38991;
  --ama-color-red-400: #DB6872;
  --ama-color-red-500: #C8313B;
  --ama-color-red-600: #A62831;
  --ama-color-red-700: #851F27;
  --ama-color-red-800: #64171D;
  --ama-color-red-900: #420F13;


  --font-lato: "Lato", sans-serif;
  /* --font-red-hat: "Red Hat Display", sans-serif; */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif !important;
  text-transform: none;
}

body a {
  color: var(--ama-color-brand-primary) !important;
}

body main.main_dark a {
  color: var(--ama-color-text-blue) !important;
}



button {
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

.lights-on,
.lights-on body {
  background-color: white !important;
  transition: none !important;
}

.lights-out,
.lights-out body {
  background-color: #1b1c1d !important;
  transition: none !important;
}

.lights-out body h1,
.lights-out body h2,
.lights-out body h3,
.lights-out body h4,
.lights-out body h5,
.lights-out body h6,
.lights-out p,
.lights-out ul li::marker,
.lights-out ul li {
  color: var(--ama-color-background-white);
}

.sbdocs.sbdocs-wrapper.css-k7lbue {
  background: unset;
}

.sbdocs.sbdocs-content.css-qa4clq {
  max-width: 1300px;
}

.lights-out .sbdocs.sbdocs-preview {
  background: unset;
  background-color: var(--ama-color-grey-700);
}

.lights-out .sb-bar.css-l1e2yg {
  background: unset;
  background-color: var(--ama-color-grey-700);
}

.lights-out .sb-bar button.css-18rvurk {
  color: var(--ama-color-background-white)
}

.lights-out .docblock-argstable tr {
  background-color: var(--ama-color-grey-700);
}

.lights-out .prismjs {
  background-color: var(--ama-color-grey-700) !important;
}

.lights-out .docblock-source {
  border-color: var(--ama-color-grey-700) !important;
  color: var(--ama-color-background-white);
}

.lights-out .docblock-argstable tr th,
.lights-out .docblock-argstable tr th button {
  color: var(--ama-color-background-white) !important;
}

/* TYPOGRAPHY HIERARCHY */

/* ama-typography-display */
.ama-typography-display-1 {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 80px !important;
  line-height: normal !important;
  letter-spacing: 0px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

.ama-typography-display-2 {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 72px !important;
  line-height: normal !important;
  letter-spacing: 0.14px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

.ama-typography-display-3 {
  font-family: "Lato", sans-serif !important;
  font-weight: bold !important;
  font-size: 64px !important;
  line-height: normal !important;
  letter-spacing: 0.26px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

.ama-typography-display-4 {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 56px !important;
  line-height: normal !important;
  letter-spacing: 0.28px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

.ama-typography-display-5 {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 48px !important;
  line-height: normal !important;
  letter-spacing: 0.38px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

.ama-typography-display-6 {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 42px !important;
  line-height: normal !important;
  letter-spacing: 0.40px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}


/* HeadLines */
h1 {
  font-family: "Lato", sans-serif !important;
  font-weight: bold !important;
  font-size: 2.5rem !important;
  line-height: normal !important;
  letter-spacing: 0.40px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

h2 {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 2rem !important;
  line-height: normal !important;
  letter-spacing: 0.38px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

h3 {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 1.75rem !important;
  line-height: normal !important;
  letter-spacing: 0.36px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

h4 {
  font-family: "Lato", sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  line-height: normal !important;
  letter-spacing: 0.36px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

h5 {
  font-family: "Lato", sans-serif !important;
  font-weight: bold !important;
  font-size: 1.25rem !important;
  line-height: 32px !important;
  letter-spacing: 0.38px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

h6 {
  font-family: "Lato", sans-serif !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
  line-height: normal !important;
  letter-spacing: -0.32px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}


/* ama-typography-action */
.ama-typography-action-large {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 1.25.rem !important;
  line-height: 32px !important;
  letter-spacing: 0.38px !important;
  text-decoration: underline !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

.ama-typography-action {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 1rem !important;
  line-height: normal !important;
  letter-spacing: 0.38px !important;
  text-decoration: underline !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

.ama-typography-action-small {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: normal !important;
  letter-spacing: 0.38px !important;
  text-decoration: underline !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

/* ama-typography-action */
.ama-typography-body-large {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 1.25rem !important;
  line-height: 32px !important;
  letter-spacing: 0.38px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

.ama-typography-body {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 1rem !important;
  line-height: normal !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}

.ama-typography-body-small {
  font-family: "Lato", sans-serif !important;
  font-weight: normal !important;
  font-size: 0.875rem !important;
  line-height: normal !important;
  letter-spacing: 0px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  text-transform: none !important;
}


/* MEDIUM */
.medium {
  font-weight: 500 !important;
}

/* BOLD */
.bold {
  font-weight: bold !important;
}


/* Margin */

.m-6 {
  margin: 5rem !important;
}

.my-6 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.mx-6 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.mt-6 {
  margin-top: 5rem !important;
}

.mb-6 {
  margin-bottom: 5rem !important;
}

.ms-6 {
  margin-left: 5rem !important;
}

.me-6 {
  margin-right: 5rem !important;
}


/* Padding */

.p-6 {
  padding: 5rem !important;
}

.py-6 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.px-6 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.pt-6 {
  padding-top: 5rem !important;
}

.pb-6 {
  padding-bottom: 5rem !important;
}

.ps-6 {
  padding-left: 5rem !important;
}

.pe-6 {
  padding-right: 5rem !important;
}