footer.ama {
  background-color: var(--ama-color-background-light-lighter);
  border-top: 8px solid var(--ama-color-brand-primary);
}

footer.ama p {
  color: var(--ama-color-text-gray) !important;
}

footer.ama .footer-menu {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer.ama .footer-menu li a {
  text-decoration: none !important;
  color: var(--ama-color-brand-primary);
}

footer.ama .footer-menu li a:hover {
  text-decoration: underline !important;
}


ul.footer-logos {
  padding-left: 0;
}

footer.ama .footer-logos {

  text-align: center;
}

footer.ama .footer-logos li {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

@media (min-width: 576px) {
  footer.ama .footer-logos li {
    display: inline-block;
    width: 25%;
  }
}

@media (min-width: 768px) {
  footer.ama .footer-menu {
    flex-direction: row;
    justify-content: center;
  }

  footer.ama .footer-menu li {
    display: inline-block;
  }

  footer.ama .footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  footer.ama .footer-logos li {
    display: initial;
    width: initial;
  }
}

footer.ama .logo-selo {
  text-align: center;
}

footer.ama .logo-selo img {
  max-width: 150px;
}

/* Dark Mode */

footer.ama.dark {
  background-color: var(--ama-color-blue-600);
  color: var(--ama-color-text-blue);
}

footer.ama.dark li a,
footer.ama.dark p {
  color: var(--ama-color-text-blue) !important;
}