.ama.btn .btn-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ama.btn .btn-loading-container .btn-loading-text {
  margin-left: 5px;
}

.ama.btn {
  border-radius: 0;
  padding: 0 1em !important;
  display: flex !important;
  align-items: center;
  height: 42px;
  justify-content: center;
  gap: 10px !important;
  font-family: var(--font-lato) !important;
  border: 2px solid;
}

.ama.btn:focus {
  box-shadow: none;
}

.ama.btn.btn-lg {
  height: 50px;
  font-size: 1.125rem;
}

.ama.btn.btn-md {
  height: 42px;
  font-size: 1rem;
}

.ama.btn.btn-sm {
  height: 32px;
  font-size: 0.75rem;
}


/* PRIMARY BUTTON */
.ama.btn.btn-primary {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-brand-primary);
  font-weight: 700;
  border: 2px solid var(--ama-color-brand-primary);
}

.ama.btn.btn-primary:hover {
  color: var(--ama-color-brand-primary);
  background-color: var(--ama-color-background-white);
  border-color: var(--ama-color-brand-primary);
}

.ama.btn.btn-primary:disabled {
  opacity: 1;
  border-color: transparent !important;
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-grey-500);
}

.ama.btn.btn-primary:not(:disabled):not(.disabled).active,
.ama.btn.btn-primary:not(:disabled):not(.disabled):active,
.show > .ama.btn.btn-primary.dropdown-toggle {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-brand-primary);
  border-color: var(--ama-color-brand-primary);
}

.btn-check:focus + .ama.btn,
.ama.btn.btn-primary:focus {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-brand-primary);
  outline: 0;
}

.ama.btn.btn-primary:focus,
.ama.btn.btn-primary:focus-visible {
  border: 3px solid var(--ama-color-yellow-400);
}


/* Dark Theme */
.ama.btn.btn-primary.dark {
  background-color: var(--ama-color-text-blue);
  color: var(--ama-color-text-gray);
  border-color: var(--ama-color-text-blue);
}

.ama.btn.btn-primary.dark:hover {
  color: var(--ama-color-text-blue);
  background-color: transparent;
}

.ama.btn.btn-primary.dark:not(:disabled):not(.disabled).active,
.ama.btn.btn-primary.dark:not(:disabled):not(.disabled):active,
.show > .ama.btn.btn-primary.dark.dropdown-toggle {
  color: var(--ama-color-text-blue);
  background-color: transparent;
  border-color: var(--ama-color-text-blue);
}

.ama.btn.btn-primary.dark:disabled {
  opacity: 1;
  border-color: transparent;
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-grey-500);
}

.ama.btn.btn-primary.dark:focus,
.ama.btn.btn-primary.dark:focus-visible {
  border: 3px solid var(--ama-color-yellow-400);
}



/* SECONDARY BUTTON */
.ama.btn.btn-secondary {
  border: 2px solid transparent;
  font-weight: 700;
  color: var(--ama-color-brand-primary);
  background-color: var(--ama-color-background-white);
}

.ama.btn.btn-secondary:disabled {
  color: var(--ama-color-grey-700);
  opacity: 0.8 !important;
  background-color: var(--ama-color-background-white);
  border: 2px solid transparent;
}

.ama.btn.btn-secondary:hover {
  border: 2px solid var(--ama-color-blue-400);
  color: var(--ama-color-blue-400);
  background-color: var(--ama-color-background-white);
}

.ama.btn.btn-secondary:not(:disabled):not(.disabled).active,
.ama.btn.btn-secondary:not(:disabled):not(.disabled):active,
.show > .ama.btn.btn-secondary.dropdown-toggle {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-brand-primary);
  border-color: var(--ama-color-brand-primary);
}

.btn-check:focus + .ama.btn,
.ama.btn.btn-secondary:focus,
.ama.btn.btn-secondary:focus-visible {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-brand-primary);
  border: 3px solid var(--ama-color-yellow-400);
  outline: 0;
}

/* Dark Theme */
.ama.btn.btn-secondary.dark {
  background-color: var(--ama-color-background-dark-lighter);
  color: var(--ama-color-text-blue);
  border-color: var(--ama-color-background-dark-lighter);
}

.ama.btn.btn-secondary.dark:hover {
  color: var(--ama-color-text-gray);
  background-color: var(--ama-color-text-blue);
}

.ama.btn.btn-secondary.dark:not(:disabled):not(.disabled).active,
.ama.btn.btn-secondary.dark:not(:disabled):not(.disabled):active,
.show > .ama.btn.btn-secondary.dark.dropdown-toggle {
  color: var(--ama-color-text-gray);
  background-color: var(--ama-color-text-blue);
  border-color: var(--ama-color-text-blue);
}

.ama.btn.btn-secondary.dark:focus,
.ama.btn.btn-secondary.dark:focus-visible {
  border: 3px solid var(--ama-color-yellow-400);
}



/* CANCEL BUTTON */
.ama.btn.btn-cancel {
  font-weight: 700;
  background-color: var(--ama-color-background-white);
  border: 1px solid var(--ama-color-text-gray);
}

.ama.btn.btn-cancel:hover {
  color: var(--ama-color-grey-600);
  background-color: var(--ama-color-grey-50);
  border: 2px solid var(--ama-color-grey-600);
}

.ama.btn.btn-cancel:disabled {
  opacity: 0.8;
  color: var(--ama-color-grey-700);
  border: 1px solid var(--ama-color-grey-700);
}

.ama.btn.btn-cancel:focus {
  border: 3px solid var(--ama-color-yellow-400);
}

/* Dark Theme */
.ama.btn.btn-cancel.dark {
  background-color: transparent;
  border-color: var(--ama-color-background-white);
}

.ama.btn.btn-cancel.dark:focus {
  border: 3px solid var(--ama-color-yellow-400);
  color: var(--ama-color-background-white);
}





/* GHOST BUTTON */
.ama.btn.btn-ghost {
  color: var(--ama-color-brand-primary);
  font-weight: 700;
  border: 1px solid var(--ama-color-brand-primary);
}

.ama.btn.btn-ghost:hover {
  color: var(--ama-color-blue-400);
  border: 2px solid var(--ama-color-blue-400);
}

.ama.btn.btn-ghost:disabled {
  opacity: 0.8;
  color: var(--ama-color-grey-700);
  border: 1px solid var(--ama-color-grey-700);
}

.ama.btn.btn-ghost:focus {
  border: 3px solid var(--ama-color-yellow-400);
}

/* Dark Theme */
.ama.btn.btn-ghost.dark {
  color: var(--ama-color-brand-primary);
}

.ama.btn.btn-ghost.dark:hover,
.ama.btn.btn-ghost.dark:focus { 
  color: var(--ama-color-blue-400);
}



/* DANGER BUTTON */
.ama.btn.btn-danger {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-red-500);
  font-weight: 700;
  border: 2px solid var(--ama-color-red-500);
}

.ama.btn.btn-danger:hover {
  color: var(--ama-color-background-white);
  border-color: transparent;
  background-color: var(--ama-color-red-600);
}

.ama.btn.btn-danger:disabled {
  opacity: 1;
  border-color: transparent;
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-grey-500);
}

.ama.btn.btn-danger:focus {
  border: 3px solid var(--ama-color-yellow-400);
}




/* SUCCESS BUTTON */
.ama.btn.btn-success {
  color: var(--ama-color-text-gray);
  background-color: var(--ama-color-green-400);
  font-weight: 700;
  border: 2px solid transparent;
}

.ama.btn.btn-success:hover {
  color: var(--ama-color-text-gray);
  background-color: var(--ama-color-green-500);
  border-color: transparent;
}

.ama.btn.btn-success:disabled {
  opacity: 1;
  border-color: transparent;
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-grey-500);
}

.ama.btn.btn-success:focus {
  border: 3px solid var(--ama-color-yellow-400);
}

/* Dark Theme */
.ama.btn.btn-success.dark {
  color: var(--ama-color-text-gray);
}

.ama.btn.btn-success.dark:focus-visible {
  color: var(--ama-color-background-white);
}
