.ama.radio .form-check .form-check-input:checked {
  background-color: var(--ama-color-brand-primary);
  border-color: var(--ama-color-brand-primary);
}
.ama.radio .form-check .form-check-input{
  border: 2px solid var(--ama-color-brand-primary) !important;

}
/* Dark theme */
.ama.radio.dark .form-check .form-check-input:checked {
  background-color: var(--ama-color-text-blue) !important;
  border-color: var(--ama-color-text-blue) !important;
}

.ama.radio.dark .form-check label {
  color: var(--ama-color-text-blue);
}