header.ama .top-bar {
  background-color: var(--ama-color-background-light-darker);
}

header.ama .top-bar button {
  border-color: transparent !important;
  padding: 0 2px !important;
}

header.ama .top-bar .d-flex.justify-content-between {
  flex-direction: column-reverse;
}

header.ama .text-primary {
  color: var(--ama-color-brand-primary) !important;
}


header.ama .top-bar .btn-ecossistema {
  text-decoration: none;
  text-align: start;
}

header.ama #accordionBtn{
  color: var(--ama-color-brand-primary) !important;
}

header.ama #accordionBtn:focus {
  box-shadow: none;
  color: var(--ama-color-blue-600);
  border-radius: 4px;
  border: 1px solid var(--ama-color-blue-600) !important;
}

header.ama .btn-ecossistema .icon-ed-menu-dots {
  padding-right: 10px;
  font-size: 1.75rem;
}

header.ama .btn-ecossistema span:nth-child(2) {
  color: var(--ama-color-background-dark-darker);
}

header.ama .btn-ecossistema i {
  padding-left: 4px;
}

header.ama .dark-mode,
header.ama .language-mode {
  display: flex;
  justify-content: center;
  gap: 0px !important;
  color: var(--ama-color-brand-primary);
  font-size: 1rem;
  text-decoration: none;
  border: 0px !important;
}


header.ama .dark-mode span:hover,
header.ama .language-mode span:hover {
  color:var(--ama-color-brand-primary) !important;
  text-decoration: underline !important;
}

header.ama .dark-mode:focus,
header.ama .language-mode:focus {
  box-shadow: none;
  color: var(--ama-color-blue-600);
  border-radius: 4px;
  border: 1px solid var(--ama-color-blue-600) !important;
}

header.ama .dark-mode .icon-dark,
header.ama .language-mode .icon-lang {
  font-size: 1.25rem;
  padding-left: 10px;
}

@media (min-width: 992px) {
  header.ama .top-bar .d-flex.justify-content-between {
    flex-direction: row;
  }
  
  header.ama .dark-mode {
    justify-content: end;
  }
}

@media only screen and (max-width: 991px) {
  header.ama #langModeBtn,
  header.ama #darkModeBtn {
    display: none !important;
  }
}

header.ama .ecossistema-ama ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header.ama .ecossistema-ama ul li {
  margin-bottom: 0.5rem;
}

header.ama #flushEcossistema .accordion-body .container .row div[class*="col-"] {
  padding: inherit 0;
}

@media only screen and (min-width: 992px) {
  header.ama #flushEcossistema
    .accordion-body
    .container
    .row
    div[class*="col-"]:first-child {
    padding-left: 0;
  }

  header.ama #flushEcossistema
    .accordion-body
    .container
    .row
    div[class*="col-"]:last-child {
    padding-right: 0;
  }
}

header.ama ul.ama-list {
  padding-left: unset;
}

header.ama ul.ama-list > li {
  list-style: none;
  position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
  header.ama #darkModeBtn,
  header.ama #langModeBtn {
    display: none !important;
  }
}

/* DARK MODE */

header.ama.dark .top-bar {
  color: var(--ama-color-text-blue) !important;
  background-color: var(--ama-color-brand-primary);
}

header.ama.dark .top-bar .btn-ecossistema {
  color: var(--ama-color-text-blue);
}
header.ama.dark .top-bar .dark_mode_span {
  color: var(--ama-color-text-blue) !important;
}
header.ama.dark .top-bar .dark_mode_span:hover {
  color: var(--ama-color-background-white) !important;
}

header.ama.dark .top-bar #flushHeading span:not(.dark_mode_span) {
  color: var(--ama-color-background-white) !important;
}

header.ama.dark .text-primary, header.ama.dark span.ama-typography-body {
  color: var(--ama-color-text-blue) !important;
}

header.ama.dark .top-bar .text-primary:hover {
  color: var(--ama-color-background-white) !important;
}

header.ama.dark span.ama-typography-body:hover {
  color: var(--ama-color-background-white) !important;
}
header.ama.dark .top-bar .dark-mode,
header.ama.dark .top-bar .language-mode {
  color: var(--ama-color-text-blue);
}


header.ama.dark .top-bar .dark-mode:focus,
header.ama.dark .top-bar .language-mode:focus {
  box-shadow: none;
  color: var(--ama-color-text-blue);
  border-radius: 4px;
  border: 1px solid var(--ama-color-text-blue) !important;
}

header.ama.dark .top-bar #accordionBtn:hover {
  color: var(--ama-color-text-blue) !important;
}

header.ama.dark .top-bar #accordionBtn:focus {
  box-shadow: none;
  color: var(--ama-color-text-blue);
  border-radius: 4px;
  border: 1px solid var(--ama-color-text-blue) !important;
}

header.ama.dark .top-bar #accordionTopBar {
  color: var(--ama-color-background-white);
}

header.ama.dark .top-bar #accordionTopBar ul li a {
  color: var(--ama-color-text-blue) !important;
  text-decoration-color: var(--ama-color-text-blue) !important;
}

header.ama.dark .top-bar #accordionTopBar ul li i {
  color: var(--ama-color-text-blue) !important;
}
