.ama.table_primary tr th {
  color: var(--ama-color-background-white);
  padding: 14px;
  background-color: var(--ama-color-text-gray) !important;
  font-family: var(--fonte-lato);
  font-size: 1rem;
  vertical-align: middle;
}

.ama.table_primary button {
  height: auto !important;
}

.ama.table_primary thead {
  border-color: transparent;
}

.ama.table_primary thead tr td {
  vertical-align: middle;
}

.ama.table_primary tbody tr {
  border-bottom: 1px solid var(--ama-color-text-gray);
}

.ama.table_primary tbody tr:last-child {
  border: 0 !important;
}

.ama.table_primary tbody tr td {
  vertical-align: middle;
  text-align: center;
}

.ama.table_primary tbody tr td:first-child {
  width: 70px;
  height: 72px;
}

.ama.table_primary tbody tr td:last-child {
  width: 8em;
}

.ama.table_primary .middle_col {
  width: 5em;
}

.ama.table_primary .accordion-button::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
  margin-left: auto; /* Para alinhar a seta à direita */
}

.ama.table_primary .accordion-button.collapsed::after {
  transform: rotate(0deg);
}

.ama.table_primary .accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
}

/* Accordion in table */

.ama.table_primary .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none;
}

.ama.table_primary .accordion-button:focus {
  box-shadow: none;
  border-radius: 2px !important;
  border: 1px solid var(--ama-color-text-gray);
}

/* .table .accordion-button {
  padding: 0 !important;
} */

.ama.table_primary .content_info {
  text-align: left;
}

.ama.table_primary .content_info a {
  color: var(--ama-color-text-gray) !important;
  font-weight: 700;
  text-decoration: underline !important;
}

.ama.table_primary mark,
.ama.table_primary code {
  font-weight: 900 !important;
  text-decoration: underline;
  background-color: transparent;
  color: var(--ama-color-text-gray) !important;
}

.ama.table_primary .criteiro {
  display: block;
  margin-left: 3rem;
}

.ama.table_primary .criteiro a {
  font-weight: 400;
}

.ama.table_primary .detail_link {
  font-size: 1.8rem;
  text-decoration: none !important;
  color: var(--primary) !important;
  border: 0;
  background-color: transparent;
}

.ama.table_primary .error-cell {
  background: #f99 !important;
}

.ama.table_primary .warning-cell {
  background: #ff9 !important;
}

.ama.table_primary .success-cell {
  background: #bce1bc !important;
}

.ama.table_primary .success-cell,
.ama.table_primary .warning-cell,
.ama.table_primary .error-cell i {
  font-size: 2.25rem;
}

.ama.table_primary .hide_desktop-screen {
  display: none;
}

@media screen and (max-width: 768px) {
  .ama.table_primary .hide-on-small-screen {
    display: none;
  }

  .ama.table_primary tbody tr td:first-child {
    width: 50px;
    height: auto !important;
  }
  
  .ama.table_primary .mobile-options {
    height: auto !important;
  }

  .ama.table_primary .hide_desktop-screen {
    display: flex !important;
    flex-direction: row;
    margin: 15px 0;
    justify-content: space-between;
  }
}

/* Dark Theme */
.ama.table_primary.dark tr th {
  background-color: var(--ama-color-background-dark-darker) !important;
  color: var(--ama-color-background-white);
}

.ama.table_primary.dark tbody tr {
  border-bottom: 1px solid #525865 !important;
}

.ama.table_primary.dark tbody tr:hover {
  background-color: var(--ama-color-background-dark-darker) !important;
}

.ama.table_primary.dark td {
  background-color: transparent !important;
}

.ama.table_primary.dark .error-cell {
  background: #f99 !important;
}

.ama.table_primary.dark .warning-cell {
  background: #ff9 !important;
}

.ama.table_primary.dark .success-cell {
  background: #bce1bc !important;
}

.ama.table_primary.dark .detail_link i,
.ama.table_primary.dark .middle_col {
  color: var(--ama-color-text-blue) !important;
}

.ama.table_primary.dark .accordion-button::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b6dcf6'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
  margin-left: auto; /* Para alinhar a seta à direita */
}

.ama.table_primary.dark .accordion-button.collapsed::after {
  transform: rotate(0deg);
}

.ama.table_primary.dark .accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
}

.ama.table_primary tbody .accordion-flush,
.ama.table_primary tbody .accordion-flush .accordion-item,
.ama.table_primary tbody tr:hover .accordion-flush .accordion-item .accordion-header button,
.ama.table_primary tbody tr:hover .accordion-flush .accordion-item .accordion-button {
  background-color: transparent !important;
}

.ama.table_primary.dark .accordion-flush .accordion-item .accordion-header button h2.show tbody tr {
  background-color: red;
}

.ama.table_primary.dark .accordion-flush .accordion-item .accordion-header button {
  background-color: transparent !important;
  color: var(--ama-color-background-white) !important;
}

.ama.table_primary.dark .show {
  background-color: var(--ama-color-background-dark-darker) !important;
}

.ama.table_primary.dark .accordion-body a,
.ama.table_primary.dark .mobile-options .info_level,
.ama.table_primary.dark .accordion-flush .accordion-item .accordion-header button code,
.ama.table_primary.dark .accordion-flush .accordion-item .accordion-header button mark {
  color: var(--ama-color-background-white) !important;
}

.ama.table_primary.dark .accordion-body {
  background-color: var(--ama-color-background-dark-darker) !important;
  color: var(--ama-color-background-white) !important;
}

.ama.table_primary.dark .mobile-row span {
  color: var(--ama-color-background-dark-darker) !important;
}

.ama.table_primary.dark .lvl_color {
  color: var(--ama-color-background-white)
}