.ama.stats_table {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: var(--ama-color-background-white);
}

.ama.stats_table tr th {
  color: var(--ama-color-text-gray) !important;
  padding: 0;
  background-color: var(--ama-color-background-white) !important;
}

.ama.stats_table tbody tr td {
  vertical-align: middle;
  text-align: left;
}

.ama.stats_table .heading_total {
  font-family: var(--font-lato);
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;

  width: 100px !important;
}

.ama.stats_table .total_top {
  padding-top: 0;
  margin-top: 0;
  vertical-align: top;
}

.ama.stats_table .total_bottom {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0.7em;
  vertical-align: bottom;
}

.ama.stats_table .body_text {
  text-align: center;
  background-color: var(--ama-color-background-light-lighter);
}

.ama.stats_table .border_right {
  border-right: 1px solid var(--ama-color-text-gray);
}

.ama.stats_table .border_left {
  border-left: 1px solid var(--ama-color-text-gray);
}

.ama.stats_table .acceptable_container {
  display: flex;
  justify-content: space-between;
  background-color: var(--ama-color-background-light-lighter);;
  position: relative;
}

.ama.stats_table .icon_and_text {
  width: 100%;
  padding-left: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;

  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
}

.ama.stats_table .icon_and_text i {
  font-size: 2.25rem;
}

.ama.stats_table .title {
  font-size: 1em;
  font-weight: bold !important;
  font-family: var(--font-lato);
  margin-left: 1em;
}

.ama.stats_table .ammount {
  padding-right: 3em;
  width: 3em;
  font-size: 1.5em;
  font-weight: 700;
  font-family: var(--font-lato);
  display: flex;
  align-items: center;
}

.ama.stats_table .overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--ama-color-text-gray) !important;
  height: 100% !important;
  padding-top: 0.7em !important;
  padding-bottom: 0.7em !important;

  z-index: 1;
}

.ama.stats_table .overlay_aceptable {
  background-color: #bce1bc;
}

.ama.stats_table .overlay_manual {
  background-color: #ff9;
}

.ama.stats_table .overlay_no_aceptable {
  background-color: #f99;
}

.ama.stats_table .total_practices {
  font-size: 2.25em;
  font-weight: 900;
  font-family: var(--font-lato);
  padding-left: 0.5em;
}

.ama.stats_table .practices_found {
  font-size: 1.25em;
  font-weight: 700;
  font-family: var(--font-lato);
}

.ama.stats_table .mobile-row {
  display: none !important;
}

.ama.stats_table tr th {
  padding: 0px !important;
  background-color: var(--ama-color-background-white) !important;
}

.ama.stats_table .total_bottom-container th {
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .ama.stats_table {
    width: 100% !important;
  }
  
  .ama.stats_table .practices_found_container {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .ama.stats_table .practices_found_container span {
    padding-left: 0 !important;
  }

  .ama.stats_table .table_container_sumary {
    width: 100% !important;
  }

  .ama.stats_table .mobile_table th {
    width: 100%;
    border: 0 !important;
  }

  .ama.stats_table .heading_total {
    display: none;
  }

  .ama.stats_table .mobile-row {
    width: 66px;
    height: 55px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--ama-color-background-light-lighter) !important;
    border-right: 1px solid var(--ama-color-text-gray);
  }

  .ama.stats_table .mobile-row span:first-child {
    font-weight: bold;
  }

  .ama.stats_table .mobile-row span:last-child {
    font-weight: normal !important;
  }

  .ama.stats_table .mobile_row-container {
    color: var(--ama-color-text-gray);
    background-color: var(--ama-color-background-light-lighter);;
    padding: 5px 0;
  }

  .ama.stats_table .mobile_row-container-total {
    padding: 5px 0;
  }

  .ama.stats_table .mobile-row:last-child {
    border-right: 0;
  }

  .ama.stats_table .desk_row {
    display: none !important;
  }

  .ama.stats_table .total_mobile {
    border-top: 0px !important;
  }

  .ama.stats_table .border_right {
    border-right: 0px;
  }

  .ama.stats_table .border_left {
    border-left: 0px;
  }

  .ama.stats_table .ammount {
    width: 55px !important;
  }

  .ama.stats_table .total_bottom-container {
    display: none !important;
  }
}


/* Dark Mode */
.ama.stats_table.dark tr th {
  background-color: transparent !important;
  color: var(--ama-color-background-white) !important;
  border-color: var(--ama-color-grey-600);
}

.ama.stats_table.dark tr td {
  border-color: var(--ama-color-grey-600);
}

.ama.stats_table.dark .acceptable_container {
  background-color: #a7b1be !important;
  color: var(--ama-color-text-gray);
}

.ama.stats_table.dark .body_text {
  background-color: #a7b1be !important;
  color: var(--ama-color-text-gray);
}

.ama.stats_table.dark .total_bottom {
  background-color: transparent !important;
  color: var(--ama-color-background-white) !important;
}

.ama.stats_table.dark .avaliation_container {
  background-color: #2c3241 !important;
  color: var(--ama-color-background-white);
}

.ama.stats_table.dark .avaliation_title {
  color: var(--ama-color-background-white);
}

.ama.stats_table.dark .border_right {
  border-right: 1px solid var(--ama-color-grey-600);
}

.ama.stats_table.dark .border_left {
  border-left: 1px solid var(--ama-color-grey-600);
}